@page "/fetchproducts"
@using System.Net.Http
@inject HttpClient Http

<h1>Products list</h1>

<p>This component demonstrates fetching products from the server.</p>
PRODUCTS_API #1.9: @productsApi

<br />

<input @bind="newProductName" placeholder="New Product Item" />
<button class="btn btn-primary" @onclick="@AddProduct">Add Product</button>

<br />

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Product> products;
    private string newProductName;
    private string productsApi = "---";

    protected override async Task OnInitializedAsync()
    {

        System.Console.WriteLine("OnInitializedAsync() started..");

        productsApi = Environment.GetEnvironmentVariable("PRODUCTS_API");

        System.Console.WriteLine("productsApi : {0}", productsApi);

        var url = "http://mvc-service/api/ProductsApi"; // this doesn't work
        //var url = "http://51.105.253.116/api/ProductsApi"; // this works
        //"http://172.19.0.1:8008/api/ProductsApi";// "http://backend:8008/api/ProductsApi"

        System.Console.WriteLine("url : {0}", url);

        try
        {
            products = await Http.GetJsonAsync<List<Product>>(url);
        }
        catch (Exception e)
        {
            System.Console.WriteLine(e.Message);
        }

        try
        {
            var json = await Http.GetStringAsync(url);
            System.Console.WriteLine("json: {0}", json);
        }
        catch (Exception e)
        {
            System.Console.WriteLine(e.Message);
        }
    }

    private async Task AddProduct()
    {
        var addItem = new Product { Name = newProductName };
        await Http.PostJsonAsync("http://172.19.0.1:8008/api/ProductsApi", addItem);
    }

    public class Product
    {
        public int Id { get; set; }

        public string Name { get; set; }
    }
}
