@page "/fetchproducts"
@using System.Net.Http
@inject HttpClient Http

<h1>Products list</h1>

<p>This component demonstrates fetching products from the server.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetJsonAsync<List<Product>>("https://localhost:5001/api/ProductsApi");
        //products = await Http.GetJsonAsync<Product[]>("sample-data/weather.json");
    }

    public class Product
    {
        public int Id { get; set; }

        public string Name { get; set; }
    }
}
